[Unit]
Description=Octopus Recurse application website
After=network.target

[Service]
User=root
EnvironmentFile=/root/.env
WorkingDirectory=/root
ExecStart=octoberry
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target